@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;1,200&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #B99F9A;
    font-family: 'IBM Plex Mono', monospace;
    color: black;
}

.main-image {
    width: 100%;
    height: auto;
    max-width: fit-content;
}

.main-video {
    width: 100%;
    height: auto;
    text-align: left;
}

.outsidelink {
    text-decoration: none;
}

.footer {
    display: flexbox;
    background-color: antiquewhite;
}

.footer a {
    text-decoration: none;
}